################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Ignore bin, obj, and .vs folders
**/bin/
**/obj/
**/.vs/

# Ignore Debug and Release folders
**/debug/
**/release/
